body {
  margin: 0;
  text-align: center;
  background-color: #ecfcff;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 25px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.top-container {
  position: relative;
  padding-top: 10%;
  background-color: #eaf6f6;
}

.profile {
  padding-bottom: 5%;
}

.round-image {
  border-radius: 50%;
  margin-top: 5%;
  width: 8.5em;
  height: 8em;
}

.intro-text {
  color: #40514e;
}

.skills {
  padding-top: 5%;
  padding-bottom: 5%;
}

hr {
  border-top: 3px dotted #40514e;
}


.middle-container {
  background-color: #fff;
  padding-bottom: 10%;
}

.bottom-container {
  background-color: #66bfbf;
  position: relative;
}

.profile p {
  text-align: center;
  display: inline-block;
  width: 50%;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 3% auto;
  text-align: left;
  line-height: 2;
  margin-top: 5%;
}

.skill-photo1 {
  width: 25%;
  float: left;
  margin-right: 3%;
}

.skill-photo2 {
  width: 25%;
  float: right;
  margin-left: 2%;
}

.contact-me {
  margin-top: 5%;
}

.top-cloud {
  position: absolute;
  top: 12%;
  right: 24%;
}

.bottom-cloud {
  position: absolute;
  left: 24%;
  bottom: 300px;
}

.contact-me {
  position: relative;
}

.btn {
  top: 150%;
  position: absolute;
  left: 46%;
  text-decoration: none;
  background-color: #11999E;
  font-weight: 500;
  border: solid #11999E 1px;
  display: inline-block;
  box-shadow: 1px 1px 10px 0 #5B6363;
  border-radius: 5px;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
}

.footer-link {
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  color: #fff;
  text-decoration: none;
}

.copyright-text {
  color: #EAF6F6;
  margin-top: 3%;
}

.small {
  font-size: 10px;
  position: relative;
  bottom: 40px;
  display: flex;
  padding-left: 20px;
}
